<h1>Pages#contact</h1>


<p><%= number_to_phone "09684558846" %></p>

<p><%= number_to_currency "17000" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "12345678999" %></p>
